/* src/components/Banner.css */
.banner img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  @media (max-width: 600px) {
  .banner img {
    max-height: 150px; 
    margin-bottom: 10px; 
  }
}